/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #f8fafc;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #2563eb;
}

.nav-links span {
  margin-left: 20px;
  cursor: pointer;
  color: #334155;
}

/* Layout */
.login-container {
  display: flex;
  height: 90vh;
}

/* Left */
.left-section {
  flex: 1;
  background: #eef2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.left-section img {
  width: 350px;
  margin-bottom: 20px;
}

.left-section h1 {
  color: #1e3a8a;
}

/* Right */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password {
  text-align: right;
  font-size: 14px;
  color: #2563eb;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: #94a3b8;
}

.google-btn {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}


.login-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.login-btn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, #2563eb, #1d4ed8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.register-text span {
  color: #2563eb;
  cursor: pointer;
}


@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .left-section {
    display: none;
  }

  .right-section {
    height: 100vh;
  }
}
