.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px;
  background: linear-gradient(135deg, #eef3fe, #78b6f5);
}

.hero-left {
  max-width: 550px;
}

.hero-left h1 {
  font-size: 46px;
  color: #1f3c88;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-left p {
  color: #555;
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 14px 35px;
  background: linear-gradient(to right, #2563eb, #1e40af);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(37, 99, 235, 0.4);
}

.secondary-btn {
  padding: 14px 35px;
  border: 2px solid #2563eb;
  background: transparent;
  color: #2563eb;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.secondary-btn:hover {
  background: #2563eb;
  color: white;
}

.hero-right img {
  width: 625px;
  filter: drop-shadow(13px 10px 3px rgba(0, 0, 0, 0.15));
  border-style: hidden;
  border-radius: 11px;
  animation: float 6s ease-in-out infinite;
}

/* FEATURES SECTION */
.features {
  padding: 100px 120px;
  background: #f9fafc;
  text-align: center;
  background: linear-gradient(135deg, #baddff, #eef3fe);
}

.features-header h2 {
  font-size: 36px;
  color: #1f3c88;
  margin-bottom: 10px;
}

.features-header p {
  color: #555;
  margin-bottom: 60px;
  font-size: 18px;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.card {
   background: linear-gradient(135deg, #ffffff, #cadfff);
  padding: 18px 30px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 30px;
  margin-bottom: 20px;
}

.card h3 {
  color: #1f3c88;
  margin-bottom: 15px;
  font-size: 20px;
}

.card p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 100px 120px;
  background: linear-gradient(135deg, hsl(221, 100%, 81%), #e3f1ff);
  text-align: center;
}

.how-header h2 {
  font-size: 36px;
  color: #1f3c88;
  margin-bottom: 10px;
}

.how-header p {
  color: #555;
  margin-bottom: 60px;
  font-size: 18px;
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.step {
  max-width: 280px;
  text-align: center;
}

.step-number {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 8px 20px rgba(37, 99, 235, 0.3);
}

.step h3 {
  color: #1f3c88;
  margin-bottom: 15px;
  font-size: 20px;
}

.step p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}



.cta h2 {
  margin-bottom: 30px;
}

/* CTA SECTION */
.cta-section {
  padding: 100px 20px;
    background: linear-gradient(135deg, #1f3c88, #2d71fa);
  color: white;
  text-align: center;
  
}

.cta-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.cta-content p {
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cta-primary {
  padding: 15px 40px;
  font-size: 16px;
  background: white;
  color: #1e3a8a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.cta-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.cta-secondary {
  padding: 15px 40px;
  font-size: 16px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-secondary:hover {
  background: white;
  color: #1e3a8a;
}

/* FOOTER */
.footer {
  background: #0f172a;
   background: linear-gradient(135deg, #0f172a, #3d5a9f);
  color: white;
  padding: 60px 100px 20px 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column {
  max-width: 300px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 15px;
  color: #2563eb;
}

.footer-column p {
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.3s ease;
}

.footer-column p:hover {
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-right img {
    width: 300px;
    margin-top: 40px;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }
}
